/* body { */
/*     font-family: Crafty Girls !important; */
/* } */

.view {
    background: url("../img/skyline.jpg")no-repeat center center;
    background-size: cover;
}

#directions {
    background: url("../img/gmap.png")no-repeat top center;
    background-size: contain;
}

#questions {
    background-color: ;
    padding-top: 200px;
    background: linear-gradient(180deg, #a8d6f7 70%, white 30%);
}

.card-title a {
    color: inherit;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 992px) {
    .navbar {
        background-color: #4285F4;
    }
    .space-at-top {
        margin-top: 30px;
    }
}